body {
    background: #e0e0e0;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.contaier {
    width: 320px;
    margin: 30px auto;
}

input[type="text"] {
    width: 300px;
    padding: 7px;
    border-radius: 3px;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#btn {
    color: #fff;
    background: #00aaff;
    padding: 7px;
    border-radius: 5px;
    box-shadow: 0 4px 0 #0088ff;
    cursor: pointer;
}

#btn:hover {
    opacity: 0.8;
}

fieldset {
    margin-top: 40px;
    border: 1px dashed #aaa;
    border-radius: 5px;
    text-align: left;
}

legend {
    font-weight: bold;
    padding: 0 10px;
}

fieldset p {
    text-align: cente r;
}