#text_area {
    font-size: 16px;
    line-height: 20px;
    resize: none;
    border-radius: 5px;
}

#text_length {
    font-size: 13px;
    color: #999;
}

#text_length.out {
    color: #C00;
}